* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;

     color: whitesmoke;
     font-family: "Montserrat", sans-serif;
     font-family: "Poppins", sans-serif;
     font-family: "Roboto", sans-serif;
}

body {
     margin: 0px;
     color: #b9d9eb;
     font-family: "segoe ui";
     background-color: #181823;
}

.nav {
     height: 60px;
     width: 99%;
     /* background-color: #282A35; */
     margin: 20px;
     margin-bottom: 20px;
     position: relative;
     position: sticky;
     top: 0;

     z-index: 999;
}

.nav>.nav-header {
     display: inline;
     z-index: 999;
}

.nav>.nav-header>.nav-title {
     display: inline-block;
     z-index: 999;
     font-size: 25px;
     color: #7cb9e8;
     opacity: 0;
     animation: slideRight 1.1s ease forwards;
     animation-delay: 1.1s;
     padding: 10px 20px 10px 10px;
}

.nav>.nav-btn {
     display: none;
}

.nav>.nav-links {
     display: inline;
     float: right;
     font-size: 20px;
}

.nav>.nav-links>a {
     display: inline-block;
     padding: 20px 20px 10px 10px;
     text-decoration: none;
     color: rgb(187, 219, 230);
     opacity: 0;
     animation: ZoomIn 2s ease forwards;
     animation-delay: 1.3s;
}

/* Add red underline on hover */
.nav>.nav-links>a:hover {
     text-decoration: underline;
     text-decoration-color: #b9d9eb;


}


.nav>#nav-check {
     display: none;
}

@media (max-width: 896px) {
     .nav>.nav-btn {
          display: inline-block;
          position: absolute;
          right: 0px;
          top: 0px;
     }

     .nav>.nav-btn>label {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 13px;
     }

     .nav>.nav-btn>label:hover,
     .nav #nav-check:checked~.nav-btn>label {
          background-color: 181823 (0, 0, 0, 0.3);
     }

     .nav>.nav-btn>label>span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid #eee;
     }

     .nav>.nav-links {
          position: absolute;
          display: block;
          width: 100%;
          /* background-color: #181823; */
          height: 0px;
          transition: all 0.3s ease-in;
          overflow-y: hidden;
          top: 50px;
          left: 0px;
     }

     .nav>.nav-links>a {
          display: block;
          width: 100%;
     }

     .nav>#nav-check:not(:checked)~.nav-links {
          height: 0px;
     }

     .nav>#nav-check:checked~.nav-links {
          height: calc(100vh - 50px);
          overflow-y: auto;
     }
}

/* Navbar END */

/* my-container */

#my-container {
     /* border: 1px solid red; */
     width: 80%;
     margin: 30px auto;
     padding: 10px;
     display: grid;
     gap: 15px;
     grid-template-columns: repeat(1, 1fr);
     justify-content: center;
}

.pro-image {
     padding: 15px;
     /* border: 1px solid green; */
     text-align: center;
     opacity: 0;
     animation: slideRight 1s ease forwards;
     animation-delay: 1.3s;
}

@keyframes slideRight {
     0% {
          opacity: 0;
          transform: translateX(-100px);
     }

     100% {
          opacity: 1;
          transform: translateX(0);
     }
}

.pro-image>img {
     border-radius: 50%;
     height: 250px;
}

@media (max-width: 896px) {
     .pro-image>img {
          border-radius: 50%;
          height: 150px;
     }
}

/* Define the keyframes for the bouncing animation */
@keyframes bounce {

     0%,
     100% {
          transform: translateY(0);
          /* Start and end position */
     }

     50% {
          transform: translateY(-10px);
     }
}

.pro-image img {
     animation: bounce 3s infinite;
}

.my-info {
     padding: 15px;
     text-align: center;
     opacity: 0;
     animation: ZoomIn 2s ease forwards;
     animation-delay: 1.4s;
     /* border: 1px solid green; */
}

.my-info h1 {
     color: aqua;
}

.my-info h2 {
     color: #b9d9eb;
     font-size: 25px;
     opacity: 0;
     animation: ZoomIn 1s ease forwards;
     animation-delay: 1.4s;
}

@keyframes ZoomIn {
     0% {
          opacity: 0;
          transform: scale(0);
     }

     100% {
          opacity: 1;
          transform: scale(1);
     }
}

.my-info p {
     color: #b9d9eb;
     font-size: 22px;
}

.my-info p>span {
     color: #b9d9eb;
}

/* CSS keyframes for typing animation */
@keyframes typing {
     from {
          width: 0;
     }

     to {
          width: 28%;
     }
}

/* Apply typing animation to the span */

@keyframes typing {
     from {
          width: 0;
     }

     to {
          width: 100%;
     }
}

@keyframes blink-caret {

     from,
     to {
          border-color: transparent;
     }

     50% {
          border-color: black;
     }
}

.button-85>a {
     background-color: transparent;
     text-decoration: none;
}

.button-85 {
     margin: 25px auto;
     height: 50px;
     font-size: 20px;
     width: 150px;
     padding: 0.6em 2em;
     border: none;
     outline: none;
     color: rgb(255, 255, 255);
     background: #111;
     cursor: pointer;
     position: relative;
     z-index: 0;
     border-radius: 10px;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     opacity: 0;
     animation: ZoomIn 1s ease forwards;
     animation-delay: 2s;
}

.button-85:before {
     content: "";
     background: linear-gradient(45deg,
               #ff0000,
               #ff7300,
               #fffb00,
               #48ff00,
               #00ffd5,
               #002bff,
               #7a00ff,
               #ff00c8,
               #ff0000);
     position: absolute;
     top: -2px;
     left: -2px;
     background-size: 400%;
     z-index: -1;
     filter: blur(5px);
     -webkit-filter: blur(5px);
     width: calc(100% + 4px);
     height: calc(100% + 10px);
     animation: glowing-button-85 20s linear infinite;
     transition: opacity 0.3s ease-in-out;
     border-radius: 10px;
}

@keyframes glowing-button-85 {
     0% {
          background-position: 0 0;
     }

     50% {
          background-position: 400% 0;
     }

     100% {
          background-position: 0 0;
     }
}

.button-85:after {
     z-index: -1;
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     background: #222;
     left: 0;
     top: 0;
     border-radius: 10px;
}

/* About Me Section  */

#about-me {
     display: grid;
     width: 80%;
     grid-template-columns: repeat(1, 1fr);
     /* border: 1px solid red; */
     gap: 15px;
     margin: 20px auto;
     text-align: center;
     opacity: 0;
     animation: ZoomIn 1s ease forwards;
     animation-delay: 1.3s;
}

#about-me>div {
     text-align: center;
     /* border: 1px solid green; */
     font-size: 18px;
     color: #e0ffff;
}

#about-me {
     color: rgb(219, 219, 219);
}

.about-img>img {
     height: 200px;
     border-end-end-radius: 15px;
     border-end-start-radius: 15px;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
     opacity: 0;
     animation: ZoomIn 1s ease forwards;
     animation-delay: 1.5s;
}

#tech-skill {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-content: space-evenly;
     gap: 15px;
     /* border: 2px solid red; */
     margin: 20px auto;
     width: 80%;
     padding: 10px;
     animation: slideRight 1s ease forwards;
     animation-delay: 2s;
}

#tech-skill>div {
     padding: 10px;
     margin: 10px;
     /* border: 1px solid green; */
     text-align: center;
}

#tech-skill>div>img {
     height: 80px;
     width: 80px;
}

#tech-skill>div>p {
     color: whitesmoke;
     font-size: large;
     font-weight: 700;
}

h1 {
     text-align: center;
     padding: 8px;
}

@media (max-width: 896px) {
     #tech-skill {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
     }
}

/* Project Section  */

#project {
     /* border: 1px solid red; */
     width: 90%;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin: 30px auto;
     margin-bottom: 10px;
     gap: 15px;
     padding: 15px;
     /* border: 1px solid silver; */
     animation: slideRight 1s ease forwards;
     animation-delay: 2s;
}

.project-info>p {
     /* border: 2px solid orangered; */
     color: #7cb9e8;
     font-size: bold;
}

.project-info>h4 {
     color: cadetblue;
}

.project-info>h4>p {
     color: goldenrod;
}

.project-info>a {
     color: blue;
}

#project>div {
     /* border: 1px solid green; */
     text-align: center;
     margin: 10px;
     padding: 15px;
     /* border: 0.5px solid silver; */
}

.project-img {
     /* border: 2px solid blue; */
     color: #7cb9e8;
}

.project-img>p {
     color: #7cb9e8;
}

.project-img>h4 {
     color: gold;
}

#project>div>img {
     height: 320px;
     width: 650px;
}

@media (max-width: 896px) {
     #project {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
     }

     #project>div {
          height: auto;
          width: auto;
     }

     #project>div>img {
          height: 120px;
          width: 300px;
     }
}

/* Git Section */

#git {
     /* border: 1px solid red; */
     display: grid;
     width: 80%;
     grid-template-columns: repeat(1, 1fr);
     margin: 20px auto;
     padding: 15px;
     gap: 15px;
     animation: slideRight 1s ease forwards;
     animation-delay: 2.2s;
}

#git>div {
     margin: 20px auto;
     padding: 15px;
}

@media (max-width: 896px) {
     #git {
          margin: 10px;
     }

     #git>div>img {
          height: 100px;
          width: 180px;
     }

     #git>div>p>img {
          text-align: center;
          height: 100px;
          width: 180px;
     }
}

#contact {
     /* border: 1px solid red; */
     margin: 10px auto;
     width: 80%;
     text-align: center;
     padding: 8px;
     animation: slideLeft 1s ease forwards;
     animation-delay: 2.2s;
}

#contact>div>i {
     padding: 8px;
     margin: 10px;
     color: blue;
}

#contact>div>i>span {
     padding: 8px;
}

#contact>div>a>i {
     height: 100px;
     width: 50px;
}

.fa-linkedin {
     height: 100px;
     width: 100px;
}

/* slider */

/* Slideshow container */
.slideshow-container {
     height: 500px;
     max-width: 1000px;
     position: relative;
     margin: auto;
}

/* Hide the images by default */
.mySlides {
     display: none;
     width: 100%;
     height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -22px;
     padding: 16px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
}

/* Position the "next button" to the right */
.next {
     right: 0;
     border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
     background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
     color: #f2f2f2;
     font-size: 15px;
     padding: 8px 12px;
     position: absolute;
     bottom: 8px;
     width: 100%;
     text-align: center;
     background-color: #9c9c9c;
}

/* Number text (1/3 etc) */
.numbertext {
     color: #f2f2f2;
     font-size: 12px;
     padding: 8px 12px;
     position: absolute;
     top: 0;
}

/* The dots/bullets/indicators */
.dot {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
}

.repo_live {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 15px;
     padding: 10px;
     background-color: transparent;
     border-radius: 8px;
}

.repo_live .git,
.repo_live .live {
     text-decoration: none;
     color: #ffffff;
     font-size: 16px;
     padding: 8px 12px;
     border: 1px solid #ddd;
     border-radius: 4px;
     transition: all 0.3s ease;
}

.repo_live .git:hover,
.repo_live .live:hover {
     background-color: #181823;
     border-color: #ffffff;
     color: rgb(255, 255, 255);
}

/* .repo_live .git i,
   .repo_live .live i {
     
   } */

.active,
.dot:hover {
     background-color: #717171;
}

/* Fading animation */
.fade {
     animation-name: fade;
     animation-duration: 1.5s;
}

@keyframes fade {
     from {
          opacity: 0.4;
     }

     to {
          opacity: 1;
     }
}


.text>p>h1 {
     font-size: 26px;
     font-weight: 900;
     /* margin-bottom: 10px; */

}

.text {
     background-color: transparent;
}

.text>p {
     color: purple;
     background-color: transparent;
     font-size: 14px;
     margin-bottom: 10px;
}

.live {
     border: 1px solid red;
}




.slideshow-container {
     position: relative;
}

.mySlides {
     position: relative;
}

.text {
     position: absolute;
     bottom: 5px;
     width: 90%;
     left: 5%;
     color: rgb(69, 150, 232);
     font-family: 'Arial', sans-serif;
     text-align: left;
     padding: 20px;
     box-sizing: border-box;
     transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
     transform: translateY(100%);
     opacity: 0;
     /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);  */
     font-size: 1.5em;
}

.mySlides:hover .text {
     transform: translateY(0);
     opacity: 1;
}

.repo_live {
     margin-top: 10px;
     color: black;
}

.repo_live a {
     color: violet;
     text-decoration: none;
     font-weight: bold;
     font-size: 24px;
     margin-right: 15px;
     transition: color 0.3s ease;
}

.repo_live a:hover {
     color: #ddd;
}

.repo_live .git i,
.repo_live .live {
     margin-right: 5px;
}


.text>p {
     color: black;
     /* background-color: gainsboro;  */
     font-size: 20px;
     font-weight: bold;
}

.git {
     background-color: gray;
}

.live {
     background-color: gray;
}


.text>p {
     color: rebeccapurple;
}


/*  */

/* Center the container */
.container2 {
     display: flex;
     justify-content: center;
     align-items: center;

}

/* Style the contact card */
.contact-card {

     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     text-align: center;
     max-width: 400px;
     width: 90%;
}

/* Header style */
.contact-card h2 {
     margin-bottom: 20px;
     color: White;
     font-family: 'Arial', sans-serif;
}

/* Contact info style */
.contact-info p {
     margin: 10px 0;
     color: white;
     font-family: 'Arial', sans-serif;
}

/* Icon style */
.contact-info i {
     margin-right: 10px;
     color: #007bff;
}

/* Responsive design */
@media (max-width: 600px) {
     .contact-card {
          padding: 15px;
     }

     .contact-card h2 {
          font-size: 1.5rem;
     }

     .contact-info p {
          font-size: 1rem;
     }
}



/* animation */

.nav>.nav-links>a:hover {
     color: #fff;
     transform: scale(1.05);
     text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.text{
     background-color: lightgray;
}
